<ion-view view-title="Adauga carte">
    <ion-content>

        <style>

            input[type=text],input[type=number], input[type=textarea], select {
                width: 40%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 3px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;

            }
            body{
                text-align: center;
            }
            input[type=submit]{
                padding: 10px;
                width: 30%;
            }

        </style>


        <p style="  margin-top: 70px;"> </p>
        <div>
            <form ng-submit="addBook(book)">

                <label for="title">Titlul *</label>
                <div class="text:align" >
                <input type="text" id="title" ng-model="book.title">
                </div>

                <br>

                <label for="nrPages">Numar paginii *</label>
                <div class="text:align" >
                <input type="number" id="nrPages" ng-model="book.pages">
                </div>

                <br>

                <label for="author">Autor</label>
                <div class="text:align" >
                <input type="text" id="author" ng-model="book.author">
                </div>

                <br>

                <label for="description">Descriere</label>
                <div class="text:align" >
                <input type="textarea" id="description" ng-model="book.description">
                </div>

                <p style="  margin-top: 20px;">
                    <input type="submit" value="Salvare">

            </form>
        </div>

    </ion-content>
</ion-view>
