<ion-view view-title="Concurs">
	<ion-content>

		<style>

			.image {

				display: block;
				margin: auto;
				border: solid;
			}

			div.picture {
				border: solid;
				background-color: black;
				color: white;
				margin: 20px 0 20px 0;
				padding: 20px;
				text-align: center;

			}

			div.data {
				border: solid;
				margin: 20px;
				padding: 20px;
				text-align: center;

			}

			div.time {
				border: double;
				margin: auto;
				padding: 20px;
				text-align: center;
				width: 50%;

			}
		</style>

		<div class="container">

			<img style="display: block;margin: 0 auto;" width="300" ng-src="http://localhost:8000/storage/{{ competition.rewardBook_image }}">


			<div class="data">

				<table class="table" style="width: 100%;">
					<tr>
						<td>Data Incepere</td>
						<td>{{ competition.starts_at }}</td>
					</tr>
					<tr>
						<td>Data Incepere</td>
						<td>{{ competition.ends_at }}</td>
					</tr>
					<tr>
						<td>Puncte castigate</td>
						<td>{{ competition.points }}</td>
					</tr>
					<tr>
						<td>Carte premiu</td>
						<td>{{ competition.rewardBook_name}}</td>
					</tr>
				</table>

				<!--<h3>Data inceput:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{competition.starts_at }}</h3><br>-->
				<!--<h3>Data sfarsit:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{competition.ends_at }}</h3><br>-->
				<!--<h3>Puncte castigate: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{competition.points }}</h3><br>-->
				<!--<h3>Premiu:Cartea {{competition.prize.title }} scrisa de&nbsp {{competition.prize.author }}</h3> <br>-->
				<!--<br>-->

				<h3>Pentru a intra in posesia premiului, citeste cartea {{competition.bookToRead_name }} scrisa de {{competition.bookToRead_author }} !!!</h3> <br> <br>
			</div>

			<h1 style="text-align: center">Quiz-ul va aparea in: </h1>

			<div class="time">
				<h2>1 zi si 2 ore</h2>
			</div>

			<br> <br>
			<div class="text-center">
				<a type="button" class="button" style="width: 50%;" href="#/app/quiz">
					Participa la QUIZ
				</a>
			</div>
		</div>

	</ion-content>
</ion-view>
