<ion-view view-title="Prezentare concurs">
    <ion-content>

<style>
    .presentation {
        padding-left: 60px;
        text-align : center;
    }
</style>

        <p  class="presentation" style="  margin-top: 70px;"> </p>

        <h4 class="presentation">
               Participarea la concurs consta in citirea cartii "{{competition.book}}" de "{{competition.author}}".
        </h4>
         <h4 class="presentation">
             Prin citirea cartii primesti garantat {{competition.points}} puncte.
             <br>
            Pentru castigarea premiului cel mare, cartea "{{competition.prize.title}}" de "{{competition.prize.author}}" participa la quiz pana la data de {{competition.ends_at}}.
        </h4>

        <p class="presentation" style="  margin-top: 30px;"> </p>

        <h4 class="presentation">
            Raspunde corect si in cel mai scurt timp la toate intrebarile din chestionar si vei fi singurul care intra in posesia premiului.
        </h4>



        <h4 class="presentation">
            Concursul este valabil pana la data de {{competition.ends_at}}.
        </h4>

        <p class="presentation" style="  margin-top: 120px;"> </p>

        <div class="text-center">
            <!--<button type="button" style="  padding: 15px; width:40%"-->
                    <!--onclick="participa()"><b>Participa</b></button>-->

            <a type="button" class="button" style="width: 40%;" href="#/app/competition">
                Participa
            </a>
        </div>

    </ion-content>
</ion-view>
