<ion-view view-title="Istoric">
    <ion-content>

        <style>

            .history-number{
                text-align: left;
            }
			 .history-title, .history-points{
                text-align: center;
            }
			
			.history-ends_at{
			text-align: right;
			}

        </style>

        <div class="list" ng-repeat="book in books">

            <a class="item item-avatar" href="#">
                <h1 class="history-number">{{$index+1}}</h1>	
                <h3 class="history-title">{{book.title}}, {{book.author}}.</h3>
                <p class="history-points">Puncte primite: {{book.points}}</p>


            </a>


        </div>



    </ion-content>
</ion-view>