<ion-view view-title="Istoric">
    <ion-content>

        <style>

            .history-number{
                text-align: left;
            }
			 .history-title, .history-author, .history-points, .history-pages{
                text-align: center;
            }

        </style>

        <div class="list" ng-repeat="book in books">

            <a class="item item-avatar" href="#">
                <!--<img src="venkman.jpg">-->
                <h1 class="history-number">{{$index+1}}</h1>	
                <h3 class="history-title">{{book.title}}</h3>
                <p class="history-author">{{book.author}}</p>
                <p class="history-points">{{book.points}}</p>
                <p class="history-pages">{{book.pages}}</p>

            </a>


        </div>

    </ion-content>
</ion-view>