<ion-view view-title="Playlist">
  <ion-content>
    <h1>Playlist asjfsiunsdfsl skd</h1>
    Lorem
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum dolore eaque fuga laborum necessitatibus, nulla odio perferendis sint vel? Ad cumque deserunt distinctio dolorem dolorum ducimus eaque earum eius eligendi in inventore molestiae, quasi quibusdam quidem quos ratione saepe sit temporibus voluptate voluptatibus. Animi asperiores culpa nihil vel voluptatum.
  </ion-content>
</ion-view>
