<ion-view view-title="Profil">
	<ion-content>

		<style>

			input[type=text] {
				width: 100%;
				padding: 0;
				margin: 0;
				display: inline-block;
				border: none;
				border-radius: 0;
			}

			.item-floating-label .input-label.has-input {
				color: #989898;
			}

			.item-checkbox {
				padding-left: 80px;
			}

			.item-checkbox .checkbox {
				left: 40px;
			}

			.box-shadow {
				box-shadow: 1px 0px 20px 6px rgba(0, 0, 0, 0.14);
			}

			.fluid-label {
				display: inline-block;
				width: 50%;
				border: none;
			}

		</style>
		<div class="container" style="padding-top: 50px;">

			<form ng-submit="updateUser(user)" novalidate>

				<div class="list box-shadow">
					<label class="item item-input item-floating-label">
						<span class="input-label">Prenume</span>
						<input type="text" placeholder="Prenume" ng-model="user.firstName">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">Nume</span>
						<input type="text" placeholder="Nume" ng-model="user.lastName">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">Email</span>
						<input type="text" placeholder="Email" ng-model="user.email">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">Parola</span>
						<input type="password" placeholder="Parola" ng-model="user.password">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">Repeta parola</span>
						<input type="password" placeholder="Repeta parola" ng-model="user.password_confirmation">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">Adresa</span>
						<input type="text" placeholder="Adresa" ng-model="user.address">
					</label>
				</div>
				<div class="list box-shadow">
					<label class="item item-input item-floating-label">
						Sex
					</label>
					<!--<ion-list>-->
					<!--<ion-radio ng-model="choice" ng-value="'A'">Masculin</ion-radio>-->
					<!--<ion-radio ng-model="choice" ng-value="'B'">Feminin</ion-radio>-->
					<!--</ion-list>-->

					<ion-list class="disable-user-behavior">
						<div class="list">
							<label class="item item-radio fluid-label" ng-value="'male'" value="male">
								<input type="radio" name="radio-group" ng-value="'male'" ng-model="user.gender" value="A">
								<div class="radio-content">
									<div class="item-content disable-pointer-events">
										<span>Masculin</span>
									</div>
									<i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
								</div>
							</label>
							<label class="item item-radio fluid-label" ng-value="'female'" value="female">
								<input type="radio" name="radio-group" ng-value="'female'" ng-model="user.gender" value="B">
								<div class="radio-content">
									<div class="item-content disable-pointer-events">
										<span>Feminin</span>
									</div>
									<i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
								</div>
							</label>
						</div>
					</ion-list>
				</div>
				<div class="list box-shadow">
					<label class="item item-input item-floating-label">
						Timp alocat cititului pe zi
					</label>
					<label class="item item-input item-floating-label fluid-label">
						<span class="input-label">Ore:</span>
						<input type="number" placeholder="Ore" class="small-input" ng-model="user.hours">
					</label>
					<label class="item item-input item-floating-label fluid-label">
						<span class="input-label">Minute:</span>
						<input type="number" placeholder="Minute" class="small-input" ng-model="user.minutes">
					</label>
				</div>

				<!--Checklist categorii -->

				<!--<label class="item item-input item-floating-label">-->
				<!--Categorii de carti-->
				<!--</label>-->
				<!--<ion-list>-->

				<!--<ion-checkbox ng-model="filter.red">Comedie</ion-checkbox>-->
				<!--<ion-checkbox ng-model="filter.yellow">Dragoste</ion-checkbox>-->
				<!--<ion-checkbox ng-model="filter.pink">Fictiune</ion-checkbox>-->

				<!--</ion-list>-->

				<button class="button button-block button-outline button-balanced">
					Salveaza
				</button>
			</form>

		</div>
	</ion-content>
</ion-view>
