<ion-view view-title="QUIZ">
    <ion-content>
        <style>
            .answers {
                list-style: upper-alpha;
                text-align: center;
                font-family: mv boli;
                font-size: 130%;

            }

            label {
                cursor: pointer;
            }

            .question {
                text-align: center;
                font-family: cursive;
                font-size: 200%;
            }
        </style>

        <pre ng-bind="selection.ids | json"></pre>
        <div ng-repeat="(index, question) in questions">
            <p class="question">{{index + 1}} . {{question.body}} </p>

            <ul class="answers">
                <li ng-repeat="(aindex,answer) in question.answers">

                    <label class="answers" for="q{{index}}a{{aindex}}">
                        <input type="radio" id="q{{index}}a{{aindex}}" ng-model="question.answer" name="q{{index}}" value="{{aindex+1}}">
                        {{ answer }}
                    </label>

                </li>

            </ul>

        </div>

        <br>

        <div class="text-center">
                <span class="button" style="width: 50%;" ng-click="sendAnswers()">
                    Submit
                </span>
        </div>

    </ion-content>
</ion-view>