<ion-view view-title="Inregistrare">
	<ion-content>

		<style>

			input[type=text], input[type=number], input[type=textarea], input[type=password], select {
				width: 40%;
				padding: 12px 20px;
				margin: 8px 0;
				display: inline-block;
				border: 3px solid #ccc;
				border-radius: 4px;
				box-sizing: border-box;

			}

			body {
				text-align: center;
			}

			input[type=submit] {
				padding: 10px;
				width: 30%;
			}

		</style>

		<p style="  margin-top: 80px;"></p>
		<h1 style=" text-align: center">ITimerBook</h1>

		<p style="  margin-top: 70px;"></p>
		<div>
			<form ng-submit="registerUser(data)">

				<label for="lastname">Nume</label>
				<div class="text:align">
					<input type="text" id="lastname" name="lastname" ng-model="data.lastName">
				</div>

				<br>

				<label for="firstname">Prenume</label>
				<div class="text:align">
					<input type="text" id="firstname" name="firstname" ng-model="data.firstName">
				</div>

				<br>

				<label for="email">E-mail</label>
				<div class="text:align">
					<input type="text" id="email" name="email" ng-model="data.email">
				</div>

				<br>

				<label for="password">Parola</label>
				<div class="text:align">
					<input type="password" id="password" ng-model="data.password">
				</div>

				<br>

				<label for="repeat-password">Repeta parola</label>
				<div class="text:align">
					<input type="password" id="repeat-password" ng-model="data.password_confirmation">
				</div>

				<div class="text:align">
					<label for="gender">Sex: </label>
					<input type="radio" id="gender" name="gender" ng-model="data.gender" value="male">Masculin
					<input type="radio" id="fgender" name="gender" ng-model="data.gender" value="female">Feminin
				</div>
				<br>

				<label for="address">Adresa</label>
				<div class="text:align">
					<input type="textarea" style="height: 90px" id="address" name="address" ng-model="data.address">
				</div>
				<br>


				<div class="text-center" ng-if="categories.length > 0">
					Categorii:
					<br><br>
					<table class="text:align" style="display: inline-block;">
						 
						<tr ng-repeat="category in categories">
							<td>
								<input type="checkbox" name="categories" ng-model="data.categories[category.id]">
							</td>
							<td class="text-left">{{category.name}}</td>
						</tr>

					</table>
				</div>

				<p style="  margin-top: 20px;">
					<input type="submit" value="Inregistrare">

			</form>
		</div>

	</ion-content>
</ion-view>
